* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    
    margin-top: 85px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

header input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;
}

.search-bar {
    background-color: #f5a623;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 70%;
}

.search-bar button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #f5a623;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

main {
    margin-top: 5px;
    background-color: #f5f8fd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.product {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 3px;
    padding: 5px;
    text-align: center;
    width: 200px;
}

.product img {
    max-width: 100%;
}

.product h2 {
    font-size: 16px;
    margin: 10px;
    
    
}

.product p {
    font-size: 16px;
    margin-bottom: 10px;
    display: none;    
  }

.product span {
    font-size: 24px;
    font-weight: bold;
}

.product:hover::after {
    content: "Encontrar item";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FF5722;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.product:hover {
    border: 1px solid #FF5722;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100px;
  }
  
  .mySlides {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .search-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    /* outros estilos que você queira aplicar */
  }